langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface

sentence-transformers
transformers
accelerate

faiss-cpu
pypdf

streamlit
groq
python-dotenv

torch
einops

fastapi
uvicorn
langdetect
deep-translator